extends resultslayout

block content

  h1= title
  //p Welcome to #{title}


  #resultstable
    table(id="results-table", class="sortable", class="table-bordered centered highlight")
      thead
      caption
      tbody

  br
  address #{progver}
