extends resultslayout

block content

  h1= title
  p Welcome to #{title}

    
  #resultstable
    table(id="results-table", class="sortable", class="bordered centered highlight")
      thead
        th(class="sorttable_numeric") Start #
        th(class="sorttable_numeric") Place
        th Name
        th Lastname
        th(class="sorttable_nosort") In  (hh:mm)
        th(class="sorttable_nosort") Out (hh:mm)
        th(class="sorttable_nosort") Pause (min)
        th(class="sorttable_nosort") Pace
        th(class="sorttable_nosort") Avg Pace
      tbody

