extends resultslayout

block content

  h1= title
  //p Welcome to #{title}


  #resultstable
    table(id="results-table", class="sortable", class="table-bordered centered highlight")
      thead
      caption
      tbody

  br

  h3#trackerlinks
  ul#trackerlinks
  a(href='/tracking/add') Add tracking link

  hr
  address #{progver}
