doctype html
html
  head
    title Results

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/materialize.min.css')

  body
    block content

    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/sorttable.js')
    script(src='/js/results.js')
