extends resultslayout

block content

  if aid
    | Aidstations:
    |  
    each id in aid
      - var link = 'window.location.href="/aid/' + id + '";';
      button(onclick=link)= id
      |  

  h1= title
  //p Welcome to #{title}


  #resultstable
    table(id="results-table", class="sortable", class="table-bordered centered highlight")
      thead
      caption
      tbody

  br

  h3#trackerlinks
  ul#trackerlinks
  a(href='/tracking/add') Add tracking link

  hr
  address #{progver}
