body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2#errormsg {
  color: #FF0000;
}

input.tinput {
    background-color: #99FFCC;
}

/* add asc/desc sort icons */
#starterList table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}



#starterListTable table tr:hover td {
    background-color: #c0fff7;
}
#resultstable table tr:hover td {
    background-color: #c0fff7;
}

.estimate {
    background-color: #fff6f6;
}

/* a.button { */
/*     -webkit-appearance:button; */
/*     -moz-appearance: button; */
/*     appearance: button; */
/*     cursor:pointer; */
/* } */

.aidlink {
    background-color: #c4c4c4;
    color: #000;
}
a.aidlink:hover{
     background: #26a69a    ;
}

